@model IEnumerable<Serwis.Models.Zlecenie>

@{
    ViewBag.Title = "Zakończone zlecenia";
}



<h2 class="display-4">Zakończone zlecenia</h2>

<p>
    <input type="button" class="btn btn-primary" value="Dodaj zlecenie" onclick="location.href='@Url.Action("Create", "Zlecenie")'">
</p>


<div class="table-responsive ">
    <table class="table table-secondary  table-condensed table-striped table-hover ">
        <tr class="table-dark align-middle text-center">
            <th>
                @Html.ActionLink("Imię", "ListDone", new { sortOrder = "FName" })
            </th>
            <th>
                @Html.ActionLink("Nazwisko", "ListDone", new { sortOrder = "LName" })
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Device)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Problem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CaseDate)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.IsDone)
            </th>
            <th style="width:280px"></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr class="align-middle text-center">
                <td>
                    @Html.DisplayFor(modelItem => item.First_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Last_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Phone)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device)
                </td>
                <td allign="center">
                    @Html.DisplayFor(modelItem => item.Problem)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseDate)
                </td>
                 <td>
                    @Html.DisplayFor(modelItem => item.IsDone)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.ZlecenieId }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Edycja", "Edit", new { id = item.ZlecenieId }, new { @class = "btn btn-warning" })
                    @Html.ActionLink("Usuń", "Delete", new { id = item.ZlecenieId }, new { @class = "btn btn-danger" })
                </td>

            </tr>
        }

    </table>
</div>